main {
  width: 100%;
  min-height: 100vh;
  background-color: #f28ab2;
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.reminder {
  width: 30rem;
  max-width: 85vw;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
}
.reminder > * {
  width: 100%;
}
.reminder-counter {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000035;
  margin-bottom: 2rem;
}
button {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fff;
  background-color: #f28ab2;
  border: transparent;
  border-radius: 5px;
  padding: 10px 0;
}
