ul {
  display: inline;
  list-style: none;
}
main {
  min-height: 100vh;
  background: linear-gradient(135deg, #0069af, #002035);
  padding: 5rem 0;
}
.accordionSection {
  width: 925px;
  max-width: 92vw;
  background-color: #ececec;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}
.title {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.container {
  background-color: #eee;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(97, 97, 97, 0.2);
}
.questionHeader {
  display: flex;
  justify-content: space-between;
}
.question {
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.btn {
  border: none;
}
.icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(255, 93, 93);
  background-color: #cecece;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.icon:hover {
  background-color: #dedede;
}
.answer {
  color: #666;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 2rem;
    font-weight: 500;
  }
  .accordionSection {
    display: grid;
    grid-template-columns: 15rem 1fr;
    column-gap: 2rem;
  }
}
